.navbar-brand img {
  height: 150px;
  width: auto;
}

.nav-link {
  font-size: var(--font-normal);
}

.navbar-nav .nav-item .active::after {
  content: "";
  display: block;
  border-bottom: 3px solid #ffbf1a;
  border-radius: 1px;
  width: 60%;
  padding-bottom: 5px;
  margin: auto auto -8px;
}
